*{
    box-sizing: border-box;
}

body{
    background-color: burlywood;
    color: green;
    text-align: center;
    font-family: "Anton", sans-serif;
    margin-left: 80px;
    margin-right: 80px;
    letter-spacing: normal;
    font-weight:bold
}

p{
    font-size: 20px;
}

img{
    width:500px;
}
a{
    color: green; 
    background-color: burlywood;
    font-size: large;
    filter: drop-shadow(8px 8px 10px darkgoldenrod);
    line-height: 50px;
    padding: 10px;
    text-decoration: none
    
    

}
a:visited{
color: darkgreen;
background-color: burlywood;
font-size: large;
filter: drop-shadow(8px 8px 10px darkgoldenrod);
line-height: 50px;
padding: 10px;
text-decoration: none
}
a:hover{
    color: green;
    background-color: burlywood;
    font-size:larger;
    filter: drop-shadow(8px 8px 10px darkgoldenrod);
    line-height: 50px;
    padding: 10px;
    text-decoration: none
}
